* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $lato;
}

.container{
  max-width: 835px;
  margin: 0 auto;
}




// default styles !

// Help section

.help-section {
  background: {
    image: url("../../../img/jared-sluyter.png");
    position: center center;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
  };
}

.header {
  padding-top: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

 .logo {
    margin-left: 30px;

   &__img {
     width: 100%
   }
 }

  .navigation {
    margin-right: 29px;

    &__ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    &__li {
      margin-left: 40px;

    }

    &__li:first-child {
      margin-left: 0;
    }

    &__a {
      text-decoration: none;
      font: {
        size: 16px;
      }
      color: $darkerBrown;
      text-transform: uppercase;
      padding-bottom: 40px;
      text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.35);
      transition: 0.5s;

      &:hover {
        color: $white;
        border-bottom: 5px solid $turquoise;
        text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.35);
      }
    }
  }
}

.article-help {
  max-width: 465px;
  margin-left: 30px;
  padding: 190px 0 105px 0;

  &__h1 {
    color: $white;
    font: {
      size: 48px;
      weight: 900;
    }
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.5);
  }

  &__help {
    padding-bottom: 25px;
    border-bottom: 4px solid $turquoise;
  }

  &__p {
    padding-top: 20px;
    padding-bottom: 42px;
    color: $white;
    line-height: 30px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.5);
    font: {
      size: 18px;
      weight: 400;
    }
  }
}

// button

.button {
  padding: 20px 0;
  max-width: 285px;
  text-transform: uppercase;
  background: $lightBrown;
  text-align: center;
  color: $white;
  border: none;
  font: {
    size: 20px;
  }
  cursor: pointer;


  &:active {
    background: $darkBrown;
  }

  &_services {
    margin: 40px auto;
  }

  &_team {
    background-color: $turquoise;
    margin-top: 45px;

    &:active {
      background-color: $darkTurquoise;
    }
  }
}

// Partners section

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__block {
    margin: 35px 0;
  }
}

// Support section

.support {
  background-color: $turquoise;
  background-image: url("../../../img/Vector Smart.png");
  background-attachment: inherit;
  background-position: bottom;

  &__h2 {
    color: #fff;
    max-width: 898px;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding-top: 90px;
  }

  &__p {
    max-width: 814px;
    margin: 0 auto;
    color: $white;
    font: {
      size: 18px;
      weight: 400;
    }
    word-spacing: -2px;
    padding-top: 30px;
    padding-bottom: 340px;
    text-align: center;
  }
}

// Services section

.services {

  &__h2 {
    max-width: 410px;
    margin: 0 auto;
    padding-top: 60px;
    color: $darkerGray;
    text-align: center;
    font: {
      size: 24px;
      weight: 700;
    }
  }

  &__p {
    padding-top: 40px;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    color: #777;
    font: {
      size: 18px;
      weight: 400;
    }
    line-height: 30px;
  }
}

// Slider section

.slider-section {
  height: 600px;
  background-image: url("../../../img/Layer-2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $lightTurquoise;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__wrapper {
    max-width: 740px;
    border: 8px solid $white;
    margin-top: 140px;
  }

  &__img {
    width: 100%;
    opacity: 0.8;
  }
}

// Join team section

.join-team {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;

  &__img-block {
    flex-basis: 50%;

  }

  &__img {
    width: 100%;
  }

  .text-block-wrapper {
    background-color: $blue;
    flex-basis: 50%;
  }

  .text-block {
    padding: 31px;
    max-width: 565px;

    &__p {
      margin-top: 25px;
      font: {
        style: italic;
        size: 18px
      }
      color: $white;
    }

    &__h2 {
      font: {
        size: 48px;
        weight: 900;
      }
      color: $white;
      margin-top: 35px;
    }

    &__span {
      padding-bottom: 15px;
      border-bottom: 4px solid #00b5d2;
    }

    &__description {
      margin-top: 50px;
      font: {
        size: 18px;
        weight: 400;
      }
      line-height: 30px;
      color: $white;
    }
  }
}

// Footer

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__line {
    margin-top: 60px;
    width: 100%;
    background-color: $gray;
    height: 3px;
  }

  &__border {
    width: 948px;
    height: 1px;
    background-color: $lightGray;
    margin-top: 50px;
  }

  &__copy {
    margin: 32px 0 55px 0;
    color: $lighterGray;
    font: {
      size: 12px;
      weight: 400;
    }
    opacity: 0.6;
  }
}

// Footer navigation

.footer-navigation {
  margin-top: 40px;

  &__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__li {
    margin-left: 50px;
  }

  &__li:first-child {
    margin-left: 0;
  }

  &__a {
    text-decoration: none;
    font: {
      size: 16px;
      weight: 700;
    }
    color: $darkGray;
    text-transform: uppercase;
    padding-bottom: 40px;
    transition: 0.5s;

    &:hover {
      color: $black;
    }
  }
}

.footer-square {
  position: relative;
  width: 120px;
  margin: 45px 0;

  &__square {
    width: 13px;
    height: 13px;
    background-color: $lightGray;
    margin: 0 auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: $lightGray;
      right: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: $lightGray;
      left: 0;
    }


  }
}

.address {
  color: $lighterGray;
  font: {
    size: 14px;
    weight: 400;
    style: normal;
  }

  &_number {
    margin-top: 20px;
    font: {
      size: 14px;
      weight: 400;
    }
  }

  &_email {
    margin-top: 20px;
    font: {
      size: 16px;
      weight: 700;
    }

    a {
      text-decoration: none;
      color: $email;
    }
  }
}










