//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800';
$google-font: 'https://fonts.googleapis.com/css?family=Oswald:400,700';


$oswald: 'Oswald', sans-serif;
$openSans: 'Open Sans', sans-serif;

$baseFontSize: 16px;


// Paths

$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
$gray: #cccccc;
$itemNumber: #2c303d;
$prizeNew: #ce2c52;
$ratingText: #2c87ce;
$description: #808080;
$button: #8ae6cf;
$buttonHover: #3cc5a3;
$sliderButtons: #949494;
$colorPicker1: #77d8e7;
$colorPicker2: #96c795;
$colorPicker3: #ce92a1;
$colorPicker4: #aa93cf;

