//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i';
$google-font: 'https://fonts.googleapis.com/css?family=Oswald:400,700';


$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$baseFontSize: 16px;


// Paths

$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
$gray: #cccccc;
$darkerGray: #777;
$darkGray: #999999;
$lightGray: #eeeeee;
$email: #e1aa6e;
$lighterGray: #aaa;
$turquoise: #00b5d2;
$lightTurquoise: #1c97c5;
$darkTurquoise: #008ea5;
$blue: #367ab7;
$darkerBrown: #454546;
$lightBrown: #e1aa6e;
$darkBrown: #ba8e5b;


